*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #121212;
    color: #fdfdfd;
}

header{
    width: 100%;
    background-color: #0f0f0f;
    padding-bottom: 1rem;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

a{
    text-decoration: none;
}

.logo{
    font-family: 'Comic Neue', sans-serif;
    cursor: default;
}

nav{
    margin: 1rem .5rem .5rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav span.fa{
    font-size: .8rem;
    color: #f0f0f0;
    padding: .7rem 1rem;
    margin-left: .5rem;
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
}

.nav span.active{
    background-color: rgba(255, 255, 255, 0.1);
}

.nav span.fa:hover,
.nav span.fa:focus,
.nav span.fa:checked{
    background-color: rgba(255, 255, 255, 0.15);
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    padding: .5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .1);
    z-index: 1000;
}

.notify{
    color: #f0f0f0;
    padding: .4rem;
    margin-right: .9rem;
    border-radius: 50%;
    transition: background-color .3s ease-in-out;
}

.notify::after{
    content: " ";
    position: absolute;
    top: .1rem;
    left: 1.4rem;
    background-color: #c40b48;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
}

.notify:hover,
.notify:focus,
.notify:checked{
    background-color: rgba(255, 255, 255, 0.15);
}

.profile-pic{
    width: 2rem;
    border-radius: 50%;
}

.profile-name{
    font-size: .8rem;
    margin-left: 7.5px;
    margin-right: 10px;
    cursor: default;
}

.profile-name p:first-child{
    font-weight: 600;
}

.profile-name p:last-child{
    font-size: .75rem;
    opacity: 70%;
}

.profile-name .eth{
    text-transform: uppercase;
    opacity: initial;
    color: #ca159b;
}

.up-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .05rem .2rem;
    transition: background-color .3s ease-in-out;
}

.up-down:hover,
.up-down:focus{
    cursor: pointer;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 5px;
}

section{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 1rem .5rem 1rem;
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .02);
}

.topic{
    margin-top: 8rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 2.5rem;
    border-bottom: 1px ridge rgba(255, 255, 255, .1);
}

.topic h4{
    padding-bottom: .5rem;
}

.profile-desc{
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
    padding-top: .5rem;
    border-bottom: 1px ridge rgba(255, 255, 255, .1);
    border-right: 1px ridge rgba(255, 255, 255, .1);
    border-top: 1px ridge rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.profile-desc .profile-name{
    margin-left: .3rem;
    white-space: nowrap;
}

.check{
    position: relative;
    top: .6rem;
    left: -.4rem;
    color: rgb(0, 225, 255);
}

section h1{
    max-width: 25rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: .5rem;
}

.slides{
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.details{
    margin-top: 2rem;
    text-align: center;
  }

.bid{
    margin-top: 1.5rem;
  }

.bid p{
    color: rgba(255, 255, 255, .7);
  }

.purple{
    color: #ca159b;
    font-family: 'Poppins', sans-serif;
  }

#demo{
    font-family: 'Poppins', sans-serif;
  }

.purchase{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: .8rem;
    text-align: center;
    font-weight: 600;
  }

.buy-now{
    color: #0f0f0f;
    background-color: #fdfdfd;
    padding: .4rem 2rem;
    border-radius: 4px;
    transition: background-color .3s ease-in-out;
  }

.place-bid{
    color: #f0f0f0;
    background-color: #000;
    padding: .5rem 2rem;
    margin-left: .5rem;
    border-radius: 4px;
    transition: background-color .3s ease-in-out;
  }

a.buy:hover,
a.buy:focus{
    background-color: rgb(214, 212, 212);
  }

a.place:hover,
a.place:focus{
    background-color: rgb(10, 10, 10);
}

.finished a{
    color: #f0f0f0;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, .15);
    padding: .5rem 1rem;
    border-radius: 50%;
}

.finished a:hover{
    background-color: rgba(255, 255, 255, .1);
}

.finished{
    text-align: center;
    margin-top: 3rem;
}

@media screen and (min-width: 650px){

    .profile{
        position: relative;
        padding: 0;
        background-color: transparent;
        margin-right: 1rem;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        margin-left: 3rem;
    }

    .nav span.fa{
        font-size: 1rem;
    }

}

@media screen and (min-width: 800px){
    .nav{
        margin-left: 8rem;
    }

    .nav span.fa{
        margin-right: .2rem;
    }

    .section{
        margin-top: 6rem;
    }

    .second-flex-container{
        display: flex;
        justify-content: space-between;
    }

    .support{
        margin-top: 0;
    }
    
    .news-update{
    
        margin-top: 0;
    }

    .heading h1,p{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .heading > h1{
        max-width: 25rem;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1004px){
    .nav{
        margin-left: 12rem;
    }

    .nav span.fa{
        margin-right: .5rem;
    }

    section{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .flex-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .image{
        margin-top: 0;
    }

    .footer-flex-container{
        display: flex;
        justify-content: space-between;
    }

    .second-flex-container > div{
        margin-left: 7rem;
    }

}

@media screen and (min-width: 1040px){
    .nav{
        margin-left: 17rem;
    }


}

@media screen and (min-width: 1200px){
    .nav{
        margin-left: 20rem;
    }

    section{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .footer-flex-container{
        margin-left: 4rem;
        margin-right: 4rem;
    }


}

@media screen and (min-width: 1300px){
    .nav{
        margin-left: 25rem;
    }

    .nav span.fa{
        margin-right: 1rem;
    }

}


